$bot-shadow: 0 1px 2px rgba(0,0,0,0.2);
@mixin transition {-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;}

/* Global Styles */
body {
	font-family: "HelveticaNeueExtended", "HelveticaNeue-Extended", "Helvetica Neue Extended", "HelveticaNeueRomanExtended", "HelveticaNeue-Roman-Extended", "Helvetica Neue Roman Extended", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:400; font-stretch:expanded;
	text-rendering:optimizeLegibility;
	color:#1F1F1F;
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}

p,h1,h2,h3,h4,h5,h6 {
	line-height:150%;
}

.btn-group > .btn-small {font-size: 10px;}

.btn-small .caret {margin: 8px 0 0 2px;}

.code {font-family: "Courier New", Courier, monospace; font-size: 10px; resize: none; width: 100%; margin-bottom: 5px;}

.dropdown-menu {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.btn:focus {
	outline:none;
	box-shadow:none;
}

.input-append, .input-prepend {margin-bottom: 0;}


/* Modal */

.modal-header h3 {font-size: 14px; color:#999;}


/* Alerts */

.alert {position: fixed; right:340px; top:60px; z-index: 1; margin: 0;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	@include transition;
}

/*popover */

.popover {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.popover-title {
	margin:0;
	padding:2px 5px 0;
	font-size:10px;
	font-weight:700;
	color:#999;
	line-height:18px;
	background-color:#eee;
	border-bottom:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

.popover-content {
	padding:3px 5px 5px;
}

.popover-content input {
	margin-bottom:5px;
}

.popover-content > p {
	margin:0;
}
.popover-content p {vertical-align: top;}

.popover-content > p p {
	font-size:11px;
	margin:0 0 5px;
	font-weight:400;
}

.popover-content header {
	margin:0;
	padding:5px;
	background:rgba(255,255,255,0.8);
	display:block;
	width:225px;
	top:-2px;
	position:relative;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom:solid 1px #ccc;
}
.popover-content header img {max-width: 217px; display: block;}
.popover-content header strong {
	font-size:11px;
	padding:0 0 0 5px;
	vertical-align:top;
}

.popover-content header small {
	color:#999;
	margin-top:5px;
}

.popover-content header h3 {
	font-size:13px;
	line-height:130%;
	font-weight:500;
	margin:0;
	padding:0;
}

.fade.left .popover-content,.fade.left .popover-content p {
	padding:0;
	margin:0;
}

.popover-content .noteContent {padding: 5px;}

.popover-content hr {margin: 10px 0;}

.popover-content small {color:#999;}

/* Stage */
canvas.stage {
	position:absolute;
	width:100%;
	height:100%;
	background:blue;
	z-index:1;
	background:#fff;
	background:-moz-linear-gradient(top,#fff 42%,#ddd 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(42%,#fff),color-stop(100%,#ddd));
	background:-webkit-linear-gradient(top,#fff 42%,#ddd 100%);
	background:linear-gradient(to bottom,#fff 42%,#ddd 100%);
}

/* Top Nav */
.topNav {
	background:#fff;
	background:-moz-linear-gradient(top,#fff 0%,#e5e5e5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
	background:-webkit-linear-gradient(top,#fff 0%,#e5e5e5 100%);
	background:linear-gradient(to bottom,#fff 0%,#e5e5e5 100%);
	border-bottom:solid 1px #ccc;
	box-shadow:$bot-shadow;
	-webkit-box-shadow:$bot-shadow;
	-moz-box-shadow:$bot-shadow;
	position:absolute;
	z-index:10;
	width:100%;
}

.topNav > img.pull-left {
	margin:5px;
}

.topNav .breadcrumb {
	margin:0;
}

.topNav .badge {
	font-size:9px;
	margin-top:-3px;
	margin-left:3px;
	padding-left:5px;
	padding-right:5px;
}

.topNav .btn {
	margin:0;
	padding:0;
	width:26px;
	height:24px;
}

.topNav .btn i {
	font-size:20px;
}

.topNav .hide {display: none;}

.topNav ul.nav > li:last-child a {
	padding:2px 0 0 4px;
}

.topNav ul.nav > li:last-child input {height: 22px; line-height: 22px; padding: 0; margin: 3px 0 0 5px; text-indent: 5px; font-size: 11px;}

.topNav .divider-vertical {
	margin:0;
	height:30px;
}

.topNav.navbar .nav > li > a {
	padding:5px 10px;
	font-size:12px;
	opacity:.4;
	-webkit-opacity:.4;
	-moz-opacity:.4;
}

.topNav.navbar .nav > li.separator {
	vertical-align:middle;
	margin:0 5px;
	line-height:28px;
	font-size:16px;
	font-weight:400;
	color:#999;
}

.topNav.navbar .nav > .active > a,.topNav.navbar .nav > .active > a:hover,.topNav.navbar .nav > .active > a:focus {
	color:#555;
	text-decoration:none;
	background-color:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.topNav.navbar .nav li.dropdown.active > a,.topNav.navbar .nav > li > a:hover,.topNav.navbar .nav li.dropdown.open > a,,.topNav.navbar .nav li.dropdown.open.active > a {
	background-color:transparent;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}

.topNav .navbar-inner {
	min-height:30px;
}

.topNav.navbar .nav li.dropdown > .dropdown-toggle .caret,.topNav.navbar .nav li.dropdown > .dropdown-toggle .badge {
	display:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}

.topNav.navbar .nav li.dropdown > .dropdown-toggle:hover .caret,.topNav.navbar .nav li.dropdown.open > .dropdown-toggle .caret,.topNav.navbar .nav li.dropdown > .dropdown-toggle:hover .badge,.topNav.navbar .nav li.dropdown.open > .dropdown-toggle .badge {
	display:inline-block;
}

.topNav.navbar .nav li.dropdown.active > .dropdown-toggle .caret,.topNav.navbar .nav li.dropdown.active > .dropdown-toggle .badge {
	display:inline-block;
}


.topNav #addSpaceInput button {margin: 3px;}

.topNav .share {margin: 4px;}

/*profile */
.profile {
	margin:2px 325px 0 0!important;
}

.profile img {
	height:20px;
	padding:2px;
}

.profile .caret {
	margin:11px 5px 5px;
	display:inline-block;
}

.profile .dropdown-menu {
	min-width:120px;
}

/*-----------DROP DOWN---------*/
.dropdown-menu .search input {
	margin-left:20px !important;
	background:#f2f2f3;
	width: 110px;
	padding-left: 16px;
	margin-bottom: 5px;

}


.dropdown-menu .search i {left: 23px; font-size: 10px; top:2px;}
.dropdown-menu input:focus {
	background:#fff;
}

.topNav .nav .dropdown-menu {
	min-width:380px;
}

.topNav .nav .dropdown-menu ul {
	padding:0;
	margin:0;
	width:160px;
}

.topNav .nav .dropdown-menu ul li {
	list-style:none;
	display: block;

}

.topNav .dropdown-menu .notifications li {	padding:5px 10px; margin: 0; width: 190px;}
.topNav .dropdown-menu .notifications li:nth-child(even) {background: #f2f2f3;}

.topNav .dropdown-menu .notifications {
	border-left:solid 1px #ccc;
	height:380px;
	overflow-y:auto;
	padding:5px 0;
	width:215px;
}

.topNav .dropdown-menu .notifications img {
	float:left;
}

.topNav .dropdown-menu .notifications small {
	padding-left:40px;
	color:#999;
	line-height:100%;
	vertical-align:top;
	display:block;
}

.topNav .dropdown-menu .notifications p {
	padding-left:40px;
	margin:3px 0 0;
	font-size:11px;
	display:block;
	width:150px;
}



/* eof Top Nav */
/* Side Panel */
.sidePanel {
	background:rgba(246,248,247,0.95);
	width:300px;
	height:100%;
	position:fixed;
	z-index:100;
	top:0;
	right:0;
	box-shadow:-2px 0 3px rgba(0,0,0,0.2);
	-webkit-box-shadow:-2px 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow:-2px 0 3px rgba(0,0,0,0.2);
	border-left:solid 1px #ccc;
	padding:90px 10px 140px 0;
	overflow-y:auto;
	overflow-x: visible;
}

.sidePanel .btn-inverse i {
	font-size:20px;
	margin-right:5px;
	position:absolute;
	left:5px;
	top:3px;
}

.sidePanel .btn {
	position:relative;
}

.sliderPanel {height: 100%; width: 10px; position: absolute; background: rgba(0,0,0,0.1); z-index: 100; right: 313px; @include transition; cursor: pointer;}

.sliderPanel:hover {background: rgba(0,0,0,0.2);}

/* ---------- Creation Module ----------*/



.sidePanel .createModule {
	background:rgba(0,0,0,0.7);
	padding:5px 15px 5px 5px;
	border-bottom:solid 1px #ccc;
	box-shadow:$bot-shadow;
	-webkit-box-shadow:$bot-shadow;
	-moz-box-shadow:$bot-shadow;
	width:290px;
	top:0;
	right:0;
	position:fixed;
	z-index:100;
}

form {
	margin:0;
}
.pinTools {margin-top: 5px;}

.sidePanel .createModule .icon-notes {position: absolute; color: #DDD; font-size: 36px; margin-top: 22px; right:50px;}

.sharePopWin {left:auto !important; right: 10px !important;}
.sharePopWin.popover.bottom .arrow {margin-left: 40px !important;}
.sharePopWin h6 {margin: 0; font-size: 10px; color: #333;}
.sidePanel .createModule form textarea {
	margin:5px 0 0 0 ;
	resize:none;
	padding-right: 50px;
	@include transition;
	height: 50px;
	background: #f2f2f3;
}

.sidePanel .createModule form textarea:hover {background: #FFF;}
.sidePanel .createModule form textarea:focus {height: 80px; background: #FFF;}

.sidePanel .createModule .btn-info, .sidePanel .createModule .btn-success {text-align: left; padding-left: 10px;}


.sidePanel .createModule  .btn-info i {font-size: 15px; margin-right: 9px; position: relative; margin-left: -5px; margin-top: 1px;}
.sidePanel .createModule .btn-success i {font-size: 18px; margin-right: 8px; position: relative; margin-left: -3px; margin-top: 0px;}
.sidePanel .createModule .btn-inverse i { color:rgba(255,255,255,0.9);  }
.sidePanel .createModule .btn-inverse:hover i { color:$yellow;  }

.sidePanel .createModule .btn-inverse i.icon-share {font-size: 22px;margin-top: 4px; margin-left: 8px;}
.sidePanel .createModule .btn-inverse i.icon-screenshot {font-size: 22px; margin-top: 6px; margin-left: 6px; }



/* ---------- Modules Global Styling ----------*/
.module {
	margin:20px 10px 0;
}

.module h2 {
	font-weight:300;
	font-size:14px;
	margin:0 0 5px;
}

.module h2 a.hide-module {
	display:none;
	font-size:9px;
	font-weight:700;
	color:#999;
	text-transform:uppercase;
}

.module h2:hover a.hide-module {
	display:block;
}

.module h2 i {
	font-size:20px;
	width:26px;
	display:inline-block;
	text-align:center;
}

.module p {
	margin:0 0 5px;
}

/* ---------- Team Module Styling ----------*/
.module.team .btn-success {
	text-align:left;
	padding-left:35px;
	padding-right:18px;
}

.module.team h2 i {
	font-size:16px;
}

#team .clearfix .pull-left {
	margin:0 5px 5px 0;
}

#team .clearfix .pull-left img {
	width:40px;
}

.popover h4 {font-size: 11px; margin: 0 0 3px 0;}

.popover.top {width: 180px;
margin-left: 27px; font-size: 11px;}

.userThumb {position: relative;}
.userThumb img {position: relative; z-index: 200; height: 40px;}
.userDetail {
	position: absolute; 
	background: #FFF; 
	border:solid 1px #CCC; 
	top:-10px; left: -10px; 
	z-index: 100;
	width:180px;
	height: 60px;
	padding: 10px 10px 10px 70px;
	
}

.overflowVisible {overflow: visible !important;}

#team .nav-header {font-size: 12px; color: #666; font-weight: 600; text-transform: none;}

/*----- File Uploader -----*/

#loadModels {width: 1000px; margin-left: -500px; overflow: hidden;}

#loadModels .modal-body {max-height: 640px; overflow: hidden;}

#loadModels.modal.fade.in {top:35%;}

.upload-model {width:100%; height: 500px; text-align: center; border: dashed 1px #CCC;}
.upload-model i {
	font-size: 300px;
width: 400px;
height: 400px;
text-align: center;
color: #f2f2f3;
position: absolute;
left: 50%;
margin-left: -200px;
display: block;
margin-top: 200px;
display: block;
	
}
.upload-model h4 {font-size: 24px; color:#999; margin-top: 450px;}


/* ---------- Notes Module Styling ----------*/
.note-sum {
	background:#FFF;
	border:solid 1px #ccc;
	padding:5px 10px;
	position:relative;
	margin-bottom:10px;
	@include transition;
}


.note-sum:hover {
	box-shadow:$bot-shadow;
	-webkit-box-shadow:$bot-shadow;
	-moz-box-shadow:$bot-shadow;
	cursor:pointer;
}

.note-sum small {
	font-size:10px;
	color:#999;
}

.note-sum .btn-mini {
	border-radius:16px!important;
	-webkit-border-radius:16px!important;
	-moz-border-radius:16px!important;
	border:solid 1px #ccc;
	width:16px;
	height:16px;
	padding:0;
	margin-right:-5px;
}

.note-sum .btn-mini .caret {
	margin-top:6px;
	opacity:.4;
	-webkit-opacity:.4;
	-moz-opacity:.4;
}

.note-sum .thumb-sum {
	opacity:.5;
	-webkit-opacity:.5;
	-moz-opacity:.5;
	@include transition;
}

.note-sum:hover .thumb-sum {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}

.pic.small {width: 140px;}
.pic.small .picTools .pull-right {margin-right: 2px;}
.pic.small .picTools .pull-right a {font-size: 10px; margin: 0;}
.pic.small .picTools span {font-size: 10px; width:80px; margin: 0 0 0 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.pic.small:hover .picTools {height: 20px;}

.pin {
	
	width:24px;
	height:24px;
	border-radius:24px;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	background:#555;
	
	text-align:center;
	vertical-align:middle;
	line-height:20px;
	@include transition;
	-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);
}

.pin i {
	margin:5px 0 0 0;
	font-size:13px;
	color:#FFF;
	@include transition;
}
.pin:hover {background: $orange; width:30px;
	height:30px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px; }
.pin:hover i {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg); font-size: 18px; margin-top: 8px; }

.thumb-sum {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}

.thumb-sum > a {
	background:rgba(0,0,0,0.1);
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:solid 1px #ccc;
	height:18px;
	margin-right:5px;
	font-size:11px;
	color:#666;
	font-weight:700;
	padding:0;
	@include transition;
}

.thumb-sum > a span {
	margin-right:5px;
	vertical-align:top;
	line-height:18px;
}

.thumb-sum > a:hover {
	text-decoration:none;
	background:rgba(0,0,0,0.8);
	color: #CCC;
}

.thumb-sum > a i {
	color:#666;
	margin:0 5px;
	vertical-align:top;
	line-height:17px;
	font-size:12px;
}
.thumb-sum > a:hover i {color:#CCC;}

.noteContent {
	padding:10px;
}

.noteContent h4 {
	font-size:12px;
	font-weight:400;
	margin:5px 0;
	color:#666;
	line-height:20px;
	vertical-align:middle;
}

.noteContent [class^="icon-"] {font-size: 14px;}
.noteContent .span2 {text-align: center;}
.noteContent .row-fluid {margin-bottom: 5px;}


.popover-content .btn.btn-success.input-block-level {margin:5px; width:226px}

.noteContent h4 i {
	font-size:14px;
	margin-right:0;
	width:20px;
	display:inline-block;
}

.noteContent .clearfix .tooltip2.pull-left img {
	margin:5px 5px 0 0;
}

/* ---------- Notes Filter Styling ----------*/
.search {
	position:relative;
	display:block;
}

.search i {
	position:absolute;
	left:7px;
	top:7px;
	font-size:14px;
	color:#999;
}

.search input {
	padding-left:24px;
	background:#f2f2f3;
	margin:0;
	@include transition;
}

.search input:focus,.search input:hover {
	background:#FFF;
}

.typeahead.dropdown-menu {
	min-width:280px!important;
}

/* ---------- Note Full View Styling ----------*/

#noteFullView {
	width: 1040px; margin-left: -520px; padding:0; height: 700px;
	border-radius:3px;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px;
	background: #f2f2f3;
}

#noteFullView.modal.fade.in {top:36%;}

#noteFullView .modal-body {max-height: 690px; padding-top: 0;}



.noteTools {background: #eee; position: relative; border: solid 1px #ccc;}
.noteTools .btn.span6, .noteTools .span6 .input-block-level {text-align: left;}
.noteTools > div {padding: 10px;}
#noteFullView .noteTools hr {margin: 0;}
#noteFullView hr {margin: 10px 0;}

.noteTools .btn i {font-size: 14px; color:#666; margin-right: 5px; display: inline-block;}
.noteTools .btn i.icon-task {font-size: 12px; margin-top: 3px;}

.noteID {width: 600px; padding: 10px;}
.noteID > img {margin:10px 0 20px 0; width: 580px;}
.noteID small {color: #999;}
.noteID h4 {margin: 0; width: 540px; font-size: 20px; line-height: 130%; font-weight: 500;}
.noteFeed .container-fluid {margin: 10px 0; padding: 0;}
.noteFeed .container-fluid .row-fluid {margin-bottom: 10px;}
.noteFeed .container-fluid p {margin: 0; font-size: 13px;}
.noteFeed .container-fluid .row-fluid small {color: #999;}
.noteFeed  .comment input  {
	width: 500px;
height: 30px;
background: #f2f2f3;
@include transition;
resize: none;
}
.noteFeed .comment input:hover {background: #FFF; }
.noteFeed .comment input:active {background: #FFF; }

.noteFeed .pic {max-width:300px;}

.noteTools .delete .btn:hover i {color:$red;}
.noteTools :hover i {color:$blue;}

.remove-pin {position: relative;}
.remove-pin .icon-delete {
position: absolute;
	left: 11px;
top: 7px;
font-size: 18px !important;
opacity: 0.3;
-webkit-opacity: 0.3;
-moz-opacity: 0.3;
color: $red !important;

}
.remove-pin .icon-pin {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg); }
.remove-pin:hover .icon-pin {color: $red;}
.remove-pin:hover .icon-delete {opacity: 0.4;
-webkit-opacity: 0.4;
-moz-opacity: 0.4;}




/*----- Assign Note----*/
.assignNote > .clearfix {margin-top: 10px;}
.assignNote .clearfix .popover2 img {height: 30px; margin:0 5px 5px 0;}
.assignNote .dropdown-menu li img.pull-left  {height: 26px; margin-right: 5px;}
.assignNote .dropdown-menu li {}
.assignNote .dropdown-menu a {}

.add-on .icon-duedate {margin: 3px; font-size: 18px; color: #666;}
.add-on:hover .icon-duedate {color: $blue;}

.done-true {
  text-decoration: line-through;
  color: grey;
}


.pic {position: relative; display: block; cursor: pointer; margin: 10px 0;}

.pic .picTools {
	position: absolute; 
	height: 0;
	width: 100%; 
	background: rgba(0,0,0,0.8);
	left: 5px;
	bottom: 4px;
	z-index: 100;
	text-align: left;
	 @include transition;
	 overflow: hidden;
	 color: #FFF;
}
.pic .picTools span {margin: 5px; font-size:12px; display: inline-block;}
.pic .picTools a {color: #FFF; display: inline-block; margin: 7px; font-size: 14px;}
.pic .picTools a:hover {text-decoration: none; color: $blue;}
a:hover .icon-delete {color:$red;}
.pic .picTools .pull-right {margin-right: 15px;}

.pic:hover .picTools {height: 30px;}

/* ---------- Model Module Styling ----------*/

.models.module {padding-bottom: 360px;}

.models.module .container-fluid {padding: 5px 0;}

.pluginGrid {
	padding:0;
	width:220px;
}

.pluginGrid .span4 {
	background:rgba(0,0,0,0.1);
	text-align:center;
	padding:10px 0;
	margin-bottom:5px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.pluginGrid .span4 a {
	margin:0 auto;
	opacity:.5;
	-webkit-opacity:.5;
	-moz-opacity:.5;
	-webkit-transition:opacity .3s ease;
	-moz-transition:opacity .3s ease;
	transition:opacity .3s ease;
}

.pluginGrid .span4 a:hover {
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
}

.models.module h4 {margin: 0; font-size: 12px; font-weight: normal;}
.models.module small {font-size: 9px;} 

.models.module .row-fluid {margin-bottom: 8px; padding-bottom: 8px; border-bottom: dotted 1px #ccc;}

/*------------ Plugin Icons ------------*/
.pluginicon {
	width:50px;
	height:50px;
	background:url(../images/plugin-logos.png);
	background-repeat:no-repeat;
	display:block;
}

.inventor {
	background-position:0 0;
}

.solidWorks {
	background-position:-50px 0;
}

.rhinoceros {
	background-position:-100px 0;
}

.sketchup {
	background-position:-150px 0;
}

.processing {
	background-position:-200px 0;
}

/* eof Side Panel */


