/*
  Font Custom - icon webfonts made simple
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fontcustom/fontcustom-682fb38395ad4ccde4725a268ced3b36.eot?#iefix") format("embedded-opentype"),
       url("../fontcustom/fontcustom-682fb38395ad4ccde4725a268ced3b36.woff") format("woff"),
       url("../fontcustom/fontcustom-682fb38395ad4ccde4725a268ced3b36.ttf") format("truetype"),
       url("../fontcustom/fontcustom-682fb38395ad4ccde4725a268ced3b36.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
  Bootstrap Overrides
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontcustom";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: 0.9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}

/*
  Icon Classes
*/

.icon-add-model:before { content: "\f100"; }
.icon-add-user:before { content: "\f101"; }
.icon-attach:before { content: "\f102"; }
.icon-cloud:before { content: "\f103"; }
.icon-comment:before { content: "\f104"; }
.icon-contact:before { content: "\f105"; }
.icon-delete:before { content: "\f106"; }
.icon-download:before { content: "\f107"; }
.icon-duedate:before { content: "\f108"; }
.icon-flag:before { content: "\f109"; }
.icon-model:before { content: "\f10a"; }
.icon-notes:before { content: "\f10b"; }
.icon-pin:before { content: "\f10c"; }
.icon-screenshot:before { content: "\f10d"; }
.icon-search:before { content: "\f10e"; }
.icon-share:before { content: "\f10f"; }
.icon-space:before { content: "\f110"; }
.icon-tag:before { content: "\f111"; }
.icon-task:before { content: "\f112"; }
.icon-team:before { content: "\f113"; }
.icon-user:before { content: "\f114"; }
.icon-view:before { content: "\f115"; }
.icon-write:before { content: "\f116"; }
